[flake8]
# In .style.yapf and .pylintrc we use 100, but in some cases this isn't enforced.
max-line-length=550
ignore=
    ################################################################################################
    # Miscellaneous stuff
    ################################################################################################
    ################################################################################################
    # Incompatible with YAPF
    ################################################################################################
    # unexpected spaces around keyword / parameter equals
    E251,